<div class="container">
<app-nav></app-nav>
<p> Veraion: {{appVersion}}</p>
<router-outlet></router-outlet>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> Do you want install pwa</p>
  </div>
  <div class="modal-footer  ">
    <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">yes</button>
  </div>
</ng-template>

<button   *ngIf="a2hs.deferredPromptFired|async" class="btn m-5 btn-primary" (click)="open(content)">install pwa </button>
app is already install? <span *ngIf="a2hs.deferredPromptFired|async">no</span><span *ngIf="!(a2hs.deferredPromptFired|async)">yes</span>


<hr>


