 <rewrite>
        <rules>
            <rule name="demo" enabled="false" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="^OFF$" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_POST}/{R:1}" appendQueryString="false" redirectType="Permanent" />
            </rule>
        </rules>
    </rewrite>
